.app {
  text-align: center;
}

img {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  display: block;
}
.app-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.app-title {
  font-size: 1.5em;
}

.app-intro {
  font-size: large;
}

